@charset "utf-8";

/* 데스크탑 */
@media screen and (min-width:1281px) {
	
}

/* 랩탑, 데스크탑 */
@media screen and (min-width:1025px) and (max-width:1280px) {
	header span {
		font-size:16px;
	}
	nav.nav-wrap ul.nav-ul {
		width:280px;
		top:2vw;
	}
	nav.nav-wrap li.nav-li {
		padding:12px;
	}
	nav.nav-wrap li.nav-li h3 {
		font-size:18px;
		line-height:35px;
	}
	nav.nav-wrap li.nav-li>ul.nav-sub-ul {
		width:280px;
		left:240px;
	}
	nav.nav-wrap li.nav-li:hover>ul.nav-sub-ul {
		left:280px;
	}
	nav.nav-wrap li.nav-li li.nav-sub-li {
		padding:12px;
	}
	li.nav-li li.nav-sub-li a {
		font-size:18px;
		line-height:35px;
	}
}

/* 태블릿, 아이패드(세로) */
@media screen and (min-width:769px) and (max-width:1024px) {
	header span {
		font-size:12px;
	}
	nav.nav-wrap ul.nav-ul {
		width:210px;
		top:2vw;
	}
	nav.nav-wrap li.nav-li {
		padding:8px;
	}
	nav.nav-wrap li.nav-li h3 {
		font-size:14px;
		line-height:26px;
	}
	nav.nav-wrap li.nav-li>ul.nav-sub-ul {
		width:210px;
		left:170px;
	}
	nav.nav-wrap li.nav-li:hover>ul.nav-sub-ul {
		left:210px;
	}
	nav.nav-wrap li.nav-li li.nav-sub-li {
		padding:8px;
	}
	li.nav-li li.nav-sub-li a {
		font-size:14px;
		line-height:26px;
	}
	li.popular-goods-li span.popular-name,li.new-goods-li span.new-name {
		font-size:18px;
	}
	li.popular-goods-li span.popular-price,li.new-goods-li span.new-price {
		font-size:14px;
	}
	li.one-goods-li span.one-category,li.two-goods-li span.two-category {
		font-size:18px;
	}
	section.goods-wrap div.ongoing-event p {
		font-size:18px;
	}
	li.ongoing-event-li span.event-content {
		font-size:14px;
	}
	div.swiper-slide2 span.detail-name {
		font-size:18px;
	}
	div.swiper-slide2 span.detail-price {
		font-size:14px;
	}
}

/* 태블릿, 아이패드(가로) */
@media screen and (min-width:769px) and (max-width:1024px) and (orientation:landscape) {
	header span {
		font-size:12px;
	}
	nav.nav-wrap ul.nav-ul {
		width:210px;
		top:2vw;
	}
	nav.nav-wrap li.nav-li {
		padding:8px;
	}
	nav.nav-wrap li.nav-li h3 {
		font-size:14px;
		line-height:26px;
	}
	nav.nav-wrap li.nav-li>ul.nav-sub-ul {
		width:210px;
		left:170px;
	}
	nav.nav-wrap li.nav-li:hover>ul.nav-sub-ul {
		left:210px;
	}
	nav.nav-wrap li.nav-li li.nav-sub-li {
		padding:8px;
	}
	li.nav-li li.nav-sub-li a {
		font-size:14px;
		line-height:26px;
	}
	li.popular-goods-li span.popular-name,li.new-goods-li span.new-name {
		font-size:18px;
	}
	li.popular-goods-li span.popular-price,li.new-goods-li span.new-price {
		font-size:14px;
	}
	li.one-goods-li span.one-category,li.two-goods-li span.two-category {
		font-size:18px;
	}
	section.goods-wrap div.ongoing-event p {
		font-size:18px;
	}
	li.ongoing-event-li span.event-content {
		font-size:14px;
	}
	div.swiper-slide2 span.detail-name {
		font-size:18px;
	}
	div.swiper-slide2 span.detail-price {
		font-size:14px;
	}
}

/* 저해상도 태블릿, 모바일(가로) */
@media screen and (min-width:481px) and (max-width:768px) {
	header span {
		font-size:8px;
	}
	nav.nav-wrap ul.nav-ul {
		width:140px;
		top:2vw;
	}
	nav.nav-wrap li.nav-li {
		padding:4px;
	}
	nav.nav-wrap li.nav-li h3 {
		font-size:9px;
		line-height:16px;
	}
	nav.nav-wrap li.nav-li>ul.nav-sub-ul {
		width:140px;
		left:100px;
	}
	nav.nav-wrap li.nav-li:hover>ul.nav-sub-ul {
		left:140px;
	}
	nav.nav-wrap li.nav-li li.nav-sub-li {
		padding:4px;
	}
	li.nav-li li.nav-sub-li a {
		font-size:9px;
		line-height:16px;
	}
	section.goods-wrap div.popular-goods h5 {
		font-size:30px;
	}
	section.goods-wrap div.new-goods h5 {
		font-size:30px;
	}
	section.goods-wrap li.popular-goods-li {
		width:48%;
		margin-right:4%;
		margin-bottom:4%;
		padding:8vw;
	}
	section.goods-wrap li.new-goods-li {
		width:48%;
		margin-right:4%;
		margin-bottom:4%;
		padding:8vw;
	}
	section.goods-wrap li.popular-goods-li:nth-child(even),li.new-goods-li:nth-child(even) {
		margin-right:0 !important;
	}
	section.goods-wrap li.popular-goods-li:nth-child(n+3),li.new-goods-li:nth-child(n+3) {
		margin-bottom:0 !important;
	}
	section.goods-wrap div.one-goods {
		width:100%;
		padding:10vh 5vh 5vh;
		float:none;
	}
	section.goods-wrap div.two-goods {
		width:100%;
		padding:0 5vh 5vh;
		float:none;
	}
	section.goods-wrap div.one-goods h5 {
		font-size:30px;
	}
	section.goods-wrap div.two-goods h5 {
		font-size:30px;
	}
	section.goods-wrap li.one-goods-li {
		width:48%;
        height:calc(26vw + 8px);
		padding:8vw;
	}
	section.goods-wrap li.one-goods-li:last-child {
		width:100%;
	}
	section.goods-wrap li.two-goods-li {
		width:48%;
        height:calc(26vw + 8px);
		padding:8vw;
	}
	section.goods-wrap li.two-goods-li:first-child {
		height:calc(56vw + 12px);
	}
	section.goods-wrap div.ongoing-event h5 {
		font-size:30px;
	}
	li.ongoing-event-li img {
		max-width:100%;
        max-height: 100%;
		margin-right:0;
		margin-bottom:2vw;
		float:none;
		position:static;
		transform:translate(0,0);
	}
	li.ongoing-event-li span.event-txt {
		width:100%;
		text-align:left;
	}
	section.goods-wrap div.detail-goods h5 {
		font-size:30px;
	}
	section.goods-wrap div.detail-goods div.swiper2 {
		height:30vh;
	}
	div.swiper-slide2 span.detail-txt {
		top:calc(50% - 20px);
	}
	div.swiper-slide2 span.detail-name {
		font-size:14px;
		line-height:20px;
	}
	div.swiper-slide2 span.detail-price {
		font-size:10px;
		line-height:20px;
	}
}

/* 모바일(세로) */
@media screen and (max-width:480px) {
	header span {
		font-size:5px;
	}
	nav.nav-wrap ul.nav-ul {
		width:100px;
		top:2vw;
	}
	nav.nav-wrap li.nav-li {
		padding:2px;
	}
	nav.nav-wrap li.nav-li h3 {
		font-size:6px;
		line-height:10px;
	}
	nav.nav-wrap li.nav-li>ul.nav-sub-ul {
		width:100px;
		left:60px;
	}
	nav.nav-wrap li.nav-li:hover>ul.nav-sub-ul {
		left:100px;
	}
	nav.nav-wrap li.nav-li li.nav-sub-li {
		padding:2px;
	}
	li.nav-li li.nav-sub-li a {
		font-size:6px;
		line-height:10px;
	}
	section.goods-wrap div.popular-goods h5 {
		font-size:24px;
	}
	section.goods-wrap div.new-goods h5 {
		font-size:24px;
	}
	section.goods-wrap li.popular-goods-li {
		width:48%;
		margin-right:4%;
		margin-bottom:4%;
		padding:8vw;
	}
	section.goods-wrap li.new-goods-li {
		width:48%;
		margin-right:4%;
		margin-bottom:4%;
		padding:8vw;
	}
	section.goods-wrap li.popular-goods-li:nth-child(even),li.new-goods-li:nth-child(even) {
		margin-right:0 !important;
	}
	section.goods-wrap li.popular-goods-li:nth-child(n+3),li.new-goods-li:nth-child(n+3) {
		margin-bottom:0 !important;
	}
	li.popular-goods-li span.popular-txt,li.new-goods-li span.new-txt {
		top:calc(50% - 30px);
	}
	li.popular-goods-li span.popular-name,li.new-goods-li span.new-name {
		font-size:14px;
		line-height:20px;
	}
	li.popular-goods-li span.popular-price,li.new-goods-li span.new-price {
		font-size:10px;
		line-height:20px;
	}
	section.goods-wrap div.one-goods {
		width:100%;
		padding:10vh 5vh 5vh;
		float:none;
	}
	section.goods-wrap div.two-goods {
		width:100%;
		padding:0 5vh 5vh;
		float:none;
	}
	section.goods-wrap div.one-goods h5 {
		font-size:24px;
	}
	section.goods-wrap div.two-goods h5 {
		font-size:24px;
	}
	section.goods-wrap li.one-goods-li {
		width:48%;
        height:calc(26vw + 8px);
		padding:8vw;
	}
	section.goods-wrap li.one-goods-li:last-child {
		width:100%;
	}
	section.goods-wrap li.two-goods-li {
		width:48%;
        height:calc(26vw + 8px);
		padding:8vw;
	}
	section.goods-wrap li.two-goods-li:first-child {
		height:calc(56vw + 12px);
	}
	li.one-goods-li span.one-txt,li.two-goods-li span.two-txt {
		top:calc(50% - 15px);
	}
	li.one-goods-li span.one-category,li.two-goods-li span.two-category {
		font-size:14px;
		line-height:30px;
	}
	section.goods-wrap div.ongoing-event h5 {
		font-size:24px;
	}
	section.goods-wrap div.ongoing-event p {
		font-size:14px;
	}
	li.ongoing-event-li img {
		max-width:100%;
        max-height: 100%;
		margin-right:0;
		margin-bottom:2vw;
		float:none;
		position:static;
		transform:translate(0,0);
	}
	li.ongoing-event-li span.event-txt {
		width:100%;
		text-align:left;
	}
	li.ongoing-event-li span.event-content {
		font-size:10px;
		line-height:30px;
	}
	section.goods-wrap div.detail-goods h5 {
		font-size:24px;
	}
	section.goods-wrap div.detail-goods div.swiper2 {
		height:20vh;
	}
	div.swiper-slide2 span.detail-txt {
		top:calc(50% - 10px);
	}
	div.swiper-slide2 span.detail-name {
		font-size:10px;
		line-height:10px;
	}
	div.swiper-slide2 span.detail-price {
		font-size:6px;
		line-height:10px;
	}
}

