
.datepicker-input {text-align: center !important;}
.dataInput__wrap {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action:none;
}

.startup_wrap {background-color:rgb(253, 241, 240);margin-bottom: 0px;padding-bottom: 0px;width:100%;height: 100%;}
.startup-bt-group {position:fixed;bottom:0;width:100%;}
.startup-bt-only-right {position: relative; left: -20px; float:left;width:100%; height: 60px;background-color:rgb(228, 58, 65);margin-bottom:-1px;text-align: right;line-height:60px;color:#fff;padding-right:20px;font-size:20px;}
.startup-bt-left {position: relative; float:left;width:50%; height: 60px;background-color:rgb(228, 58, 65);margin-bottom:-1px;text-align: left;line-height:60px;color:#fff;font-size:20px;}
.startup-bt-right {position: relative; float:left;width:50%; height: 60px;background-color:rgb(228, 58, 65);margin-bottom:-1px;text-align: right;line-height:60px;color:#fff;font-size:20px;}
