.join_step {position: relative; margin:30px 0 20px 30px;text-align: center;}
.join_step ul { width: 100%;}
.join_step li { margin-left:15px; text-align: center; display: inline-block; position: relative;}
.join_step li:first-child { margin-left:-35px; }
.join_step li.on .num { background: var(--primary); border: 1px solid var(--primary); color: #fff;font-weight: bold;}
.join_step li .num { width: 40px; height: 40px; line-height: 40px; border-radius: 40px; border: 1px solid #dedede;background: #f2f2f2; font-size: 14px;color: #999;display: block;}
.join_step li .line {position: absolute;top: 50%;left: 38px; width: 20px; margin:0px; border-top:1px solid #ddd;}
.join_step li.on .line {border-top:1px solid var(--primary);}

.searchList {margin: 20px 0 0 0;}
.searchList .list__type--line {font-weight: bold;display: block;width: 100%;border-bottom: 1px solid #e7eaef;padding-bottom: 10px;margin: 10px 0;}
.searchList .list__type--line>strong {width: 14px;display: inline-block; font-weight: 300;}
.searchList ul.recent li {display: flex;justify-content: space-between; align-items:center;background-color:#f4f4f4; border-radius: 6px; height: 40px;padding: 10px 20px;margin-top: 10px;}
.searchList ul.recent li>button {width: 20px;height: 20px;background-size: 16px;}
.v30 .commu_search input[type='search'] {height: 40px;}
.v30 .commu_search .hd__search {margin: 0px 0 0 10px;}

#header.communiity_header {height: 94px;}
.communiity_header .hd__menu .hd__title>img {vertical-align: middle;width: 40px;padding-right: 10px;}
.communiity_header .hd__menu {border-bottom:0}
.communiity_header .hd__title {padding-top: 12px;}
.communiity_header .ico-search {position: absolute; right: 20px;width:30px;height: 30px;}
.communiity_header .list__tab>li {font-size: 14px;margin: 0 10px 0px 0;}
.communiity_header .list__tab>li>a {padding: 0 8px;height: 100%;display: inline-block;}
.communiity_header .list__tab>li:first-child {margin-left: 10px;}
.communiity_header .list__tab>li:last-child {margin-right: 30px;}
.blur {filter : blur(8px);position: absolute;width:40px;height:40px;background-color: #fff;right: 0px; top: 50px;}
.notice__wrap {width:100%;background: var(--line);margin: 0 auto;padding:8px 10px;display: block;box-sizing: border-box;}
.notice__msg {border-bottom: 1px solid #eaeaea; display: flex;align-items: center;justify-content: flex-start;font-size: 0.9em;color:#707070; 
    padding: 4px 0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.notice__msg:last-child {border-bottom: 0;}
.notice__icon {display: inline-block;font-size: 12px;padding: 1px 10px;border-radius: 30px;border: 1px solid var(--gray);background: transparanet;margin-right: 8px;min-width: 43px;}

.commu_list {margin:20px 0px;}
.commu_list .list__type--line {padding: 0 20px 10px;border-bottom: 1px solid var(--borderLine);}
.commu_list .list__type--line .list__content {width: 80%;}
.commu_list .list__type--line .list__photo {width: 20%;    text-align: right;}
.commu_list .list__type--line .list__photo>img {width: 60px;height: 60px;}
.commu_list .list__type--line .list__type--wrap {display: flex;justify-content: space-between; align-items: center;min-height: 65px;}
.commu_list .list__type--line:last-child {border-bottom: 7px solid #f4f4f4;margin-bottom: 20px;}
.commu_list .list__content--info > span:after {content: '';border-right: 1px solid var(--lightline);padding-right: 10px;margin-right: 8px;}
.commu_list .list__content--info > span:last-child:after {padding: 0;margin: 0;border: 0}
.commu_list .list__info--hit {background: url(https://icongr.am/clarity/eye.svg?size=18&color=999999) 0 center no-repeat;padding-left: 20px;}
.commu_list .list__info--reply {background: url(https://icongr.am/clarity/talk-bubbles.svg?size=16&color=999999) 0 center no-repeat;padding-left: 20px;}
.commu_list .list__content h3 {font-size: 14px;line-height: 24px;font-weight: bold;display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.list__content--info {color:#888;}
.commu_list .title {margin:20px 20px 10px 10px;display: flex; justify-content: space-between;}
.commu_list .title>h2 {font-weight: bold;}
.commu_list .title>a {font-size: 14px;text-decoration: underline;}
.commu_list .list__type--line .point {width: 40px;height: 40px; border-radius: 100%;line-height: 40px;font-weight: bold;background: linear-gradient(42deg, rgba(255,188,0,1) 18%, rgba(255,235,0,1) 52%, rgba(238,207,0,1) 81%);text-align: center;}
.commu_list .list__type--line .point-title {width: calc(100% - 130px); font-weight: bold; font-size: 14px;}
.commu_list .list__type--line .preTime {width:70px;color: #32b100;font-size: 13px; text-align: center;padding:3px 10px; background-color: #dff7da; border-radius: 16px;}
.list-badge {display: inline-block;color:#fff; font-size: 12px; background-color: var(--diaper);border-radius: 4px;padding: 0px 8px; margin-right: 2px;}
.list-category {display: inline-block;color:#000; font-size: 12px; background-color: var(--green);border-radius: 4px;padding: 0px 8px; margin-right: 2px;}

.commu_list.gall__type {margin:0 10px 0px;overflow:hidden}
.commu_list .gall__type--list {width: 50%;float: left;}
.commu_list .gall__type--list .list__content {padding: 10px 8px;}
.commu_list .gall__type--list img {width: 100%; border-radius: 4px;}
.commu_list.gall__type .title {margin:0 0 10px;}
.btn-write {width: 55px!important;height: 55px!important;bottom: 40px!important;background-color: #fff;color: var(--primary);border: 1px solid var(--primary);}
.btn-write:before {content: '';margin: auto; background: url(https://icongr.am/clarity/highlighter.svg?size=20&color=EB5353) center no-repeat; width:30px;height:22px; display: block;}

.my-community .tab_wrap a.selected {color: var(--primary);border-bottom: 3px solid var(--primary);}
.mygrade_wrap .mygrade {display: flex;justify-content: space-between; align-items: center; background-color: rgba(235, 82, 82, 0.1);  margin:24px 10px 10px; padding: 20px 20px; border-radius: 6px;}
.mygrade_wrap .mygrade>h2 {font-size: 20px;font-weight: bold; }
.mygrade_wrap .mygrade .grade {font-size: 14px;}
.mygrade_wrap .mygrade .grade>span {font-size: 24px; vertical-align: middle;}
.mygrade_wrap .myupdate {display: flex;justify-content: space-between; align-items: center;margin:0 10px;}
.mygrade_wrap .myupdate div {font-size: 12px; width:32%; background-color: #f4f4f4;border-radius: 8px;padding:10px;color:#aaa;}
.mygrade_wrap .myupdate div>span {display: block; font-weight: bold;font-size: 16px;color:#333;}
.my-community .tbl table {font-size: 14px;}
.my-community .tbl table thead th {font-size: 14px;}
.my-community .tbl table th>span {font-size: 18px;display: block;}
.standard {padding:30px 10px;}
.standard>h2 {font-size: 16px; font-weight: bold;}
.standard .tbl {margin-top: 10px;}
