@charset "utf-8";
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css");
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");

* {box-sizing: border-box}
body .v30 {width: 100%;height: 100%;font-family: 'NanumSquareRound', sans-serif;font-size: 1em;line-height: 1.4em;letter-spacing: -0.8px;font-weight: normal;color: #333;}


:root .v30 {
    --primary:#EB5353;
    --skyblue:#91defa;
    --purple: #a28af2;
    --red:rgba(255, 88, 88, 0.9);
    --green:rgba(81,186,149,0.9);
    --orange:rgba(239,170,70,0.9);
    --gray:rgba(112, 112, 112, 0.4);
    --grayText:rgba(112, 112, 112, 0.8);

    --bgGray:#f4f4f4;
    --borderLine:#eaeaea;
    --lightline:#dde2ed;
    --border-radius:40px;
    --border-radius-btn:3px;

}
.v30 .primary {color: var(--primary) !important;}
.v30 .skyblue{color: var(--skyblue)!important;}
.v30 .purple{color: var(--purple)!important;}
.v30 .grayTxt{color: var(--grayText)!important;}
.v30 .bgGray{background: var(--lightline)!important;}

.w10{width:10%!important}
.w20{width:20%!important}
.w30{width:30%!important}
.w40{width:40%!important}
.w50{width:50%!important}
.w100{width:100%!important}
.col2>li{width:50%; float:left;}
.col3>li{width:33%; float:left;}
.col4>li{width: 25%; float:left;}
.col5>li{width:20%; float:left;}

.tL{text-align:left !important}
.tC{text-align:center !important}
.tR{text-align:right !important}

.f-left{float:left !important}
.f-right{float:right !important}
.clearfix:before, .clearfix:after {content: '';clear:both;display: table;}

.d-flex {display: flex;}
.j-content-between{justify-content:space-between;}
.align-center{align-items: center}
.d-block{display: block!important;}
.positionR{position: relative!important;}

.mgt3{margin-top:30px !important;}
.mgt1{margin-top:10px !important}
.mgt2{margin-top:20px !important}
.mgt-2{margin-top:-20px !important}
.mgl1{margin-left: 10px !important;}

.titA {font-size: 1.3rem;font-weight: bold;padding-top: 20px;}
.disabled{cursor:unset;opacity: .3;}
small{font-size: .8rem;color: var(--grayText);}

.v30 .container{padding:0 20px;}
.v30 #contents {position: relative;padding-bottom: 80px;}

.v30 .btn-basic{color:#fff; background-color: var(--primary);border-radius: 16px;padding:14px 2px;text-align: center;}
.v30 .btn-basic.line{color:var(--primary); background-color: #fff;border: 1px solid var(--primary);}
.v30 .d-flex .btn-basic {margin:0 3px;width: 50%;}

.v30 button:hover{box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.05);}

.line_box{border: 1px solid var(--lightline);border-radius: 8px;background: #fff;padding:10px 16px 10px 16px;}
.bg_box{border-radius: 12px;background: var(--bgGray);padding:26px 25px;margin:10px 0;display: flex;align-items: center;justify-content: space-between;}
.btn_fixed {position: fixed;bottom: 10px;left: 5%;width: 90%!important;}

.v30 .chkList li{margin-left:24px;margin-top:8px;text-align: center;list-style-type: none !important;}
.v30 .chkList li:before{content:'';display:inline-block;width:24px;height:15px;background:url(https://icongr.am/clarity/check.svg?size=15&color=999999) no-repeat 0 50%;vertical-align:middle;margin-left:-24px}
.v30 .chkList.dot li{text-align: left;}
.v30 .chkList.dot li:before{background:url(https://icongr.am/clarity/minus.svg?size=15&color=999999) no-repeat 0 50%;}

a {text-decoration: none;color: inherit;}
select {-moz-appearance: none;-webkit-appearance: none;appearance: none;}
.hidden-text {display: inline-block;text-indent: -9999px;}

.v30 #header {position: sticky;position: -webkit-sticky;top: 0;background: rgba(255, 255, 255, 1);border-bottom: 1px solid #EAEAEA;z-index: 3;transition: 0.5s;}
.v30 #header.trans {background: rgba(255, 255, 255, 1);border: 0;}

/* Accordion List*/
.accordion {cursor: pointer;width: 100%;background-color:#fff;outline: none;transition: 0.4s;} 
.accordion:hover {font-weight: bold;}
button.accordion:after{content: '';float:right;width:20px;height:20px;vertical-align: middle;background: url('/images/ico-arrow-left.svg') no-repeat center;background-size:6px;transform: rotate(-90deg);display: inline-block;}
button.accordion.active:after{background: url('/images/ico-arrow-left.svg') no-repeat center;transform: rotate(-270deg);background-size:6px;}
.panel {padding: 14px 1px 20px;display: none;background-color: white;overflow: auto}
.panel a {overflow: hidden;}

/** bottom up modal **/
.modal-bottomUp.modal-open .modal__box {top: 0;}
.modal__box {z-index: 11;background: #fff;width: 100%;height: 100%;margin: 0;padding: 0;transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);top: 100%;position: ;left: 0;/*overflow-y: auto;*/}
.modal__box .hd__menu{border-bottom: 1px solid var(--lightline);}
/* modal 스크롤 방지 */
.not_scroll{position: fixed;overflow: hidden;width: 100%;height: 100%;}
.fixed-ft {position: fixed;bottom: 0; z-index: 12;left: 0;width: 100%;height: 60px;box-sizing: border-box; background:#fff;padding:10px;}

/* custom select*/
.new-custom-select {width: 100%;position: relative;vertical-align: middle;display: inline-block;padding:4px 20px;color:#333;border:1px solid var(--borderLine);height: 50px;border-radius: 40px;
background:url(https://icongr.am/feather/chevron-down.svg?size=20&color=888888) right 10px top 50%  no-repeat; background-size:20px; -webkit-appearance: none; -moz-appearance: none; appearance : none; }
.new-custom-select select {display: none; }
.new-custom-select .select-selected {background-color:transparent;}
.new-custom-select .select-selected:after {position: absolute;content: "";top: 42%;right: 12px;width: 0;height: 0; border: 6px solid transparent;border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent; }
.new-custom-select .select-selected.select-arrow-active:after {top: 30%;border-color: transparent transparent rgba(0, 0, 0, 0.4) transparent;}
.new-custom-select .select-items div,  .new-custom-select .select-selected {width:100%;height:40px;padding: 10px 34px 0 12px;border: 0px solid transparent;border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;cursor: pointer;user-select: none;}
/*style items (options):*/
.new-custom-select .select-items {position: absolute;border-radius: 6px;border: 1px solid #ddd;background-color: rgba(255, 255, 255, 0.95);top: 100%;left: 0;right:0;z-index: 1;}
.new-custom-select .select-hide {display: none;}
.new-custom-select .select-items div:hover, .new-custom-select .same-as-selected {background-color: rgba(0, 0, 0, 0.1);}

/* custom checkbox*/
.new-custom-checkbox{display:inline-block;position:relative;padding:2px 10px 0 28px;margin: 2px 0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.new-custom-checkbox input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.new-custom-checkbox .checkmark{position:absolute;top:0;left:0;height:22px;width:22px;border-radius:4px;background-color:#fff;border:1px solid rgba(0, 0, 0, 0.16);}
.new-custom-checkbox:hover input~.checkmark{opacity: .5;}
.new-custom-checkbox input:checked~.checkmark{background-color:var(--grayText);border: 0;}
.new-custom-checkbox .checkmark:after{content:"";position:absolute;display:none}
.new-custom-checkbox input:checked~.checkmark:after{display:block}
.new-custom-checkbox .checkmark:after{left:7px;top:3px;width:5px;height:10px;border:solid var(--primary);border-width:0 3px 3px 0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}

/* custom radiobutton*/
.new-custom-radio{display:inline-block;position:relative;padding:0px 20px 0 32px;margin: 2px 0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.new-custom-radio input{position:absolute;opacity:0;cursor:pointer;height:0;width:0}
.new-custom-radio .radio-checkmark{position:absolute;top:0;left:0;height:22px;width:22px;border-radius:30px;background-color:#fff;border:1px solid rgba(0, 0, 0, 0.16);}
.new-custom-radio:hover input~.checkmark{opacity: .5;}
.new-custom-radio input:checked~.radio-checkmark{background-color:#fff;border: 1px solid var(--primary);}
.new-custom-radio .radio-checkmark:after{content:"";position:absolute;display:none}
.new-custom-radio input:checked~.radio-checkmark:after{display:block}
.new-custom-radio .radio-checkmark:after{left:4px;top:4px;width:12px;height:12px;background:var(--primary);border-radius: 20px;}

/* form */
.v30  textarea, .v30 input[type='text'], .v30 input[type='password'], .v30 input[type='tel'], .v30 input[type='number'], .v30 input[type='search'], .v30 input[type='email'], .v30 input[type='date']
{font-family: 'NanumSquareAcR';display:inline-block;border-radius:30px;width:100%;height:50px;padding:9px 20px 11px;border:1px solid var(--borderLine);box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;color:#0c1041;font-size:14px;line-height:20px}
.v30 textarea:focus,input[type='text']:focus,input[type='password']:focus,input[type='tel']:focus,input[type='number']:focus,input[type='search']:focus,input[type='email']:focus, .v30 input[type='date']:focus{border-color:var(--primary)!important;}
.v30 textarea:disabled, .v30 input[type='text']:disabled, .v30 input[type='password']:disabled, .v30 input[type='tel']:disabled, .v30 input[type='number']:disabled, .v30 input[type='search']:disabled, .v30 input[type='email']:disabled, .v30 input[type='date']:disabled{background:#f3f3f3}
.v30 textarea[readonly], .v30 input[type='text'][readonly], .v30 input[type='password'][readonly], .v30 input[type='tel'][readonly], .v30 input[type='number'][readonly], .v30 input[type='search'][readonly], .v30 input[type='email'][readonly], .v30 input[type='date'][readonly]{border:1px solid #e6e6e6;background:#f3f3f3}
.v30 textarea{height: auto;border-radius: 20px;}

.icon-new{overflow: hidden;position: absolute; top: 5px;right: 20px;width: 6px;height: 6px;text-indent: 9em;border-radius: 50%;background: #ef2b2a;}
.lyDim{z-index: 2; position:fixed;top:0;right:0;bottom:0;left:0;background:rgba(0,0,0,0.5)}

#TopBtn {position:fixed;opacity: 0;display: none;bottom:60px;width: 100%;z-index: 10;animation-duration: 0.1s;animation-fill-mode: forwards;}
#TopBtn button[class*="btn-"] {position: absolute;right: 18px;bottom: 35px;width: 45px;height: 45px;border-radius: 50%;box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.1);}
.btn-totop {background: url(http://alzam-test.babysleep.co.kr/images/ico-arrow-top.svg) center no-repeat;background-size: 16px;background-color: #fff;border: 1px solid #e2e2e2;}
.fixed-btn-write {position:fixed;display: block; right: 18px;bottom:80px;width: 45px;height: 45px;border-radius: 50%;box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.1);z-index: 10;background:var(--primary) url(http://alzam-test.babysleep.co.kr/images/ico-pencil.svg) center no-repeat;background-size: 20px;}

.inner-input {border: 0;border-bottom: 1px solid #CCC;border-radius: 0;padding: 0 8px;width: 100%;height: 48px;box-sizing: border-box;}
.inner-input:focus {outline: none;}
.v30 input[type=checkbox].ic-psw {width: 1px;height: 1px;overflow: hidden;position: absolute;left: -9999px;}
.v30 input[type=checkbox].ic-psw+label {display: inline-block;width: 40px;height: 40px;background: url(http://alzam-test.babysleep.co.kr/images/ico-eye.svg) center no-repeat;background-size: 24px;position: absolute;right: 4px;opacity: .3;}
.v30 input[type=checkbox].ic-psw:checked+label {background: url(http://alzam-test.babysleep.co.kr/images/ico-eye-close.svg) center no-repeat;background-size: 24px;}


/**글쓰기**/
.write_wrap{padding-bottom: 140px !important;}
.write_wrap .icon-drag{display: inline-block;width:30px;height: 30px;position: absolute;right:0px;top:20px}
.write_wrap .list__type--line>a{position: relative;}
.rep-img{position: relative;}
.rep-img img{width:100%;margin:10px auto;border-radius: 4px;}
.bedge{position: absolute;left: 10px;top:20px; padding:4px 14px 3px 10px;border-radius: 14px;background: var(--primary);color:#fff;}
.bedge>span[class*=icon-] {vertical-align: middle;display: inline-block;width:20px;height: 20px;background-size: 14px;}
.bedge.right{right: 10px;left:unset;}
.list__content .bedge{position: relative;left:unset;top:unset;width:max-content}
.type-write .list__tab__wrap{margin:unset;border:0}
.v30 .list__tab>li:first-child {margin-left: 0px;}
.chip-slide {width: max-content;}
.chip-slide>li {float: left;display: inline-block;padding: 0 2px;}
.writer_box{position: fixed;bottom: 50px;width: 100%;background-color: var(--line);padding:18px 10px}
.writer_box > ul {display: flex;justify-content: space-between;align-items: center;flex-wrap: wrap;}
.writer_box > ul > li {width: 16%;height: 32px;text-align: center;}
.writer_box > ul > li>a{width: 100%;height: 100%;display: block;background-size: 18px!important;}
.writer_box > ul > li>a.bold{background: url(http://alzam-test.babysleep.co.kr/images/ico-text-bold.svg) center no-repeat;background-size: 12px !important;}
.writer_box > ul > li>a.underline{background: url(http://alzam-test.babysleep.co.kr/images/ico-text-U.svg) center no-repeat;}
.writer_box > ul > li>a.list{background: url(http://alzam-test.babysleep.co.kr/images/ico-text-list.svg) center no-repeat;}
.writer_box > ul > li>a.margin{background: url(http://alzam-test.babysleep.co.kr/images/ico-text-margin.svg) center no-repeat;}
.writer_box > ul > li>a.link{background: url(http://alzam-test.babysleep.co.kr/images/ico-text-link.svg) center no-repeat;}
.writer_box > ul > li>a.devide{background: url(http://alzam-test.babysleep.co.kr/images/ico-text-devide.svg) center no-repeat;}
.writer_box > ul > li[class*="txt"] {width: 25%;}
.writer_box > ul > li.txt1>a {font-size: 16px;font-weight: bold;}
.writer_box > ul > li.txt2>a {font-size: 14px;font-weight: bold;}
.writer_box > ul > li.txt3>a {}
.writer_box > ul > li.txt4>a {font-size: 13px;}
nav.write_loading > ul > li{line-height: 45px;}
nav.write_loading > ul > li > a{width:100%;font-size: 16px;color: var(--grayText); background: none!important;}
nav.write_loading > ul > li > a:before{content: ''!important;}
.loading_box{height: 100vh;background:rgb(0 0 0 / 35%);text-align: center;padding-top: 50%;}
.loading_box>img{border-radius: 100%;}
.loading-bar{position: fixed;z-index: 2; bottom: 0; height: 3px;width:auto;background: var(--primary);}


/**레이어팝업 - 필수구조**/
.layer30 {position: fixed;top: 0;bottom: 0;left: 0;right: 0;}
.layer30::after {display: inline-block;vertical-align: middle;width: 0;height: 100%;content: "";}
.layer30 .layer_wrap {display: table;table-layout: fixed;width: 100%;height: 100%;}
.layer30 .layer_inner {display: table-cell;vertical-align: middle;text-align: center;}
.layer30 .layer__back {position: relative;display: inline-block;width: 86%;min-height: 160px;background: #FFF;border-radius: 10px;box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.2);padding: 10px;box-sizing: border-box;z-index: 30;}
.layer30 .layer__header {display: flex;justify-content: space-between;align-items: center;padding: 6px 12px 0;}
.layer30 .layer__header>h2 {font-size: 1.3em;font-weight: bold;text-align: left;}
.layer30 .layer__single-btn {width: 100%;height: 40px;box-sizing: border-box;}
.layer30 .layer__single-btn>button, .btn-primary {width: 100%;height: 40px;margin: 0;padding: 0;border-radius: 4px;background: var(--primary);color:#fff;font-weight: bold;}
.layer30 .layer__ft-btn {width: 100%;box-sizing: border-box;display: flex;justify-content: space-between;}
.layer30 .layer__ft-btn.modal {position: fixed;bottom: 0px;background-color: #fff;padding: 10px;}
.layer30 .layer__ft-btn>button {width: 50%;height: 100%;border-radius: var(--border-radius-btn);margin: 0;padding: 10px;font-weight: 600;}
.layer30 .layer__ft-btn>button:first-child {margin-right:6px;border:1px solid var(--lightline);}
.layer30 .layer__ft-btn>button:last-child {background: var(--primary);color:#fff;border: 1px solid var(--primary);}
.layer30 .layer__content {padding: 20px 14px;text-align: left;min-height: 90px;}
.layer30 .layer30 .layer__content>dl>dt {font-weight: bold;padding-bottom: 12px;border-bottom: 1px solid #CCC;}
.layer30 .layer__content>dl>dd {color: #666;padding-top: 12px;width: 100%;}
.layer30 .layer__content .f-sub {color: #707070;}
.layer30 .dimmed {background: rgba(0, 0, 0, 0.5);width: 100%;height: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;z-index: 29;}
.layer30 button.close {width: 30px;height: 30px;background: url("/images/ico-close.svg") right top no-repeat;border: 0;text-indent: -9999px;}
 
/**Header**************/
.hd_wrap {box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);position: relative;top: 0;display: flex;justify-content: space-between;align-items: center;width: 100%;height: 50px;padding: 6px 18px;margin: 0 auto;box-sizing: border-box;border-bottom: 0px solid var(--line);}
.hd_wrap .hd__title {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);width: 60%;display: block;font-size: 1.1rem;font-weight: bold;text-align: center;}

/*.hd__btn*/
.hd_wrap .hd__btn>div {display: inline-block;width: 36px;height: 36px;margin: 0;}
.hd_wrap .hd__btn>div>a {display: block;width: 100%;height: 100%;background-repeat: no-repeat;background-size: 25px;}
.hd__search{position: relative;margin:20px;}
.hd__search .icon-close, .hd__search .icon-search {
    position: absolute;
    right: 10px;
    top: 0;
    width: 40px;
    height: 100%;
    background-size: 16px;
    opacity: .7;
}
.hd__search .icon-search {left: 10px;}
.v30 input[type='search'] {background-color: var(--bgGray);padding-left: 50px;border:0}
.v30 .btn-back>a {background: url(http://alzam-test.babysleep.co.kr/images/ico-previous.png) center;}
.v30 .btn-more{background: url(http://alzam-test.babysleep.co.kr/images/ico-3dots.svg) center no-repeat;background-size: 20px;}
.v30 .btn-scrap{background: url(http://alzam-test.babysleep.co.kr/images/ico-folder.svg) no-repeat center;background-size: 30px;}
.v30 .icon-write {background: url(http://alzam-test.babysleep.co.kr/images/ico-pencil.svg) center no-repeat;}

.icon-search{ background: url(http://alzam-test.babysleep.co.kr/images/ico-search.svg) no-repeat center; }
.icon-close {background: url(http://alzam-test.babysleep.co.kr/images/ico-close.svg) no-repeat center;}
.icon-photo {background: url(http://alzam-test.babysleep.co.kr/images/ico-photo.svg) no-repeat center;}
.icon-schedule{font-size: .8em !important; background: url(http://alzam-test.babysleep.co.kr/images/ico-imoji03.gif) no-repeat 8px center;background-size: 20px;padding: 6px 11px 6px 34px !important;;margin-left: 10px;}

.hd_wrap .hd__btn>div>a.icon-write{background-color: var(--primary); border-radius: 12px;background-size: 20px;}
.write_photo{position: relative;display: flex;align-items: center;}
.write_photo .icon-photo {width:60px;height:40px;background-size: 50px;}
.write_photo input{background-size: 40px;background-position: 14px center;background-repeat:no-repeat;padding-left: 65px !important;}
.write-confirm {width: 100%;height: 100px;margin-bottom: 20px;background: url(http://alzam-test.babysleep.co.kr/images/write-confirm.svg) center no-repeat;background-size: 40%;}

.v30 .moreBtn {
    position: absolute;
    right: 0;
    background: url(http://alzam-test.babysleep.co.kr/images/ico-3dots.svg) right center no-repeat;
    background-size: 16px;
    width: 30px;
    height: 24px;
    text-indent: -99999px;
}

.more-3dot-Layer {
    position: absolute;
    right: 4px;
    margin-top: 10px;
    padding: 0px;
    background: #fff;
    border: 1px solid var(--lightline);
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
    z-index: 1;
}

.more-3dot-Layer a {
    display: block;
    font-size: .9em;
    padding: 8px 20px;
    border-bottom: 1px solid var(--lightline);
}
.content_view {margin:30px 20px;}
.content_view .list__type--line .list__content {width: 100%;}
.content_view .list__content>h3 {white-space: normal;}
.content_view img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin: 16px auto
}
.content_view a {color:var(--primary);}

.reply_view .list__content--info{font-size: 1em;position: relative;padding:8px 0;}
.reply_view .list__content--info .list__info--writer{color:#333;font-weight: bold;margin-right: 6px;}
.reply_write .hd__search{width: 100%;margin:0px;}
.reply_write .hd__search textarea {height:40px;margin-top: 4px;overflow: hidden;}
.reply_write .hd__search button {position: absolute;width: 50px;right: 10px;top: 50%;transform: translateY(-50%);}
nav > ul.fnb.reply_write {margin: 0; left: 0;}


.btn-like {display: inline-block;padding-left: 25px;height:50px; background: url(https://icongr.am/fontawesome/thumbs-o-up.svg?size=20&color=666666) 0 center no-repeat;}
.btn-like.converse {background: url(https://icongr.am/fontawesome/thumbs-up.svg?size=22&color=EB5353) 0 center no-repeat;color:var(--primary)}
.btn-unlike {display: inline-block;padding-left: 25px;height:50px; background: url(https://icongr.am/fontawesome/thumbs-o-down.svg?size=20&color=666666) 0 center no-repeat;}
.content_view .utill{text-align: center;}
.btn-share {display: inline-block;margin-left:30px; padding-left: 30px;height:50px; background: url(https://icongr.am/clarity/share.svg?size=22&color=444444) 0 center no-repeat;}
.nick-name h2{font-size: 1.1em;}
.nick-name strong{font-size: 1.2em;font-weight: bold;}
.nick-name strong:before{content:'';border-left:1px solid var(--primary); padding-right:30px;}
.nick-name .icon-write{display: inline-block;width: 30px;height: 30px;background-size: 24px;background-color: var(--primary);border-radius: 10px;}


.after24{display: flex;}
.after24 img{width:60px;object-fit: cover;border-radius: 10px;margin-right: 8px;}
.after24 .info{width: calc(100% - 112px);margin-top: 10px;}
.after24 h2{font-size: 1.3em;font-weight: bold;}
.after24 .btn-view{font-size: .9rem;margin-left: 0px;line-height: 1.2;border: 1px solid var(--primary);padding: 16px 8px 10px;border-radius: 12px;color: var(--primary);}
.after24 .sche{font-size: .9rem;color: var(--grayText);padding:10px 0 0 0px; }
.after24 .date{padding-left:18px;margin-right: 8px; background: url(https://icongr.am/clarity/date.svg?size=16&color=a5a5a5) 0 center no-repeat;}
.after24 .time{padding-left:18px;background: url(https://icongr.am/clarity/clock.svg?size=16&color=a5a5a5) 0 center no-repeat;}
.btn-group a[class^="btn-"]:after {content: '';float: right;display: inline-block;width:8px;height:20px;margin-right: 10px; background: url(https://icongr.am/feather/chevron-right.svg?size=22&color=999999) center no-repeat;}
.btn-group a.btn-review:after {background:url(https://icongr.am/feather/chevron-right.svg?size=22&color=ffffff) center no-repeat;}
.btn-resev{width: 48%;display: inline-block;padding:12px 10px 12px 54px;margin-right: 10px; border-radius: 10px; background:var(--bgGray) url(http://alzam-test.babysleep.co.kr/images/ico-reserve.png) 16px center no-repeat;background-size: 30px;}
.btn-review{width: 48%;display: inline-block;padding:12px 10px 12px 54px;border-radius: 10px; color: #fff;background:var(--primary) url(http://alzam-test.babysleep.co.kr/images/ico-reserve2.png) 16px center no-repeat;background-size: 24px;}

.qa {display: block;font-size: 1.1rem;}
.qa-q:before {content: 'Q';vertical-align: middle;font-size: 1.2rem;line-height: 1.7rem;margin-right: 6px; background:var(--primary);color:#fff; display: inline-block;width: 26px;height: 26px;border-radius: 100%;text-align: center;}
.qa-q {font-size: 1.2rem;color: var(--primary);font-weight: bold;}
.qa-a:before {content: 'A';vertical-align: middle;font-size: 1.2rem;line-height: 1.7rem;margin-right: 6px; background:#333;color:#fff; display: inline-block;width: 26px;height: 26px;border-radius: 100%;text-align: center;}
.qa-a {margin-top: 16px;line-height: 1.7rem;}


.more_info button.collapsible{position: relative;width: 100%;padding:20px 43px 20px 20px;font-weight: bold;border: 1px solid var(--lightline);border-radius: 14px;text-align: left;font-size: 1.05rem;}
.more_info button.collapsible.active{border-color: var(--primary);}

.more_info .collapsible:after {
  content: '';
  background: url(https://icongr.am/feather/chevron-down.svg?size=28&color=666666) center no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}

.more_info .active:after {
  background: url(https://icongr.am/feather/chevron-up.svg?size=28&color=666666) center no-repeat;
}

.more_info .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  }
.more_info .content p {line-height: 1.7rem; border: 1px solid var(--lightline);border-radius: 14px;padding: 20px;margin-top: 10px;}

.solution_wrap>img{width:100%; border-radius: 20px;margin-top: 20px;}
.solution_wrap .solution-list {display: block;margin-top: 10px;}
.solution_wrap .solution-list>img{float: left; width:56;height:56px;border-radius: 100%;margin-right: 14px;}
.solution_wrap .solution-list>h3{font-size: 1.12rem;font-weight: bold;}
.solution_wrap .solution-list>h4{color:var(--grayText);margin-top: 6px;}

.item_detail {margin-bottom: 140px;}
.item_detail .more_info h2{margin-bottom:18px; padding:4px 18px 4px 35px; display: inline-block;border-radius: 20px;color:#fff;font-weight: bold;}
.item_detail .more_info .best h2 {background:#0093ff url(http://alzam-test.babysleep.co.kr/images/ico-item01.png) 12px center no-repeat;background-size: 16px;}
.item_detail .more_info .best button.collapsible.active{border-color: #0093ff;}
.item_detail .more_info .babymilk h2 {background:var(--primary) url(http://alzam-test.babysleep.co.kr/images/ico-item02.png) 12px center no-repeat;background-size: 16px;}
.item_detail .more_info .babymilk button.collapsible.active{border-color: var(--primary);}
.item_detail .more_info .sleep h2 {background:#9f83f9 url(http://alzam-test.babysleep.co.kr/images/ico-item03.png) 12px center no-repeat;background-size: 16px;}
.item_detail .more_info .sleep button.collapsible.active{border-color: #9f83f9;}
.item_detail .more_info .growth h2 {background:#6ac5f5 url(http://alzam-test.babysleep.co.kr/images/ico-item04.png) 12px center no-repeat;background-size: 16px;}
.item_detail .more_info .growth button.collapsible.active{border-color: #6ac5f5;}


.bottom_fix {position: fixed;bottom: 0;left: 0;width: 100%;background: #fff;padding: 20px;box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);}


.time_table_v30 .profile_v30 h2{font-size: 1.2rem;margin: 4px 0 10px;font-weight: bold;}
.time_table_v30 .profile_v30 .foot{padding:4px 8px 4px 30px;color:#00afee;border: 1px dashed #88dcfa;border-radius: 12px;background: url(http://alzam-test.babysleep.co.kr/images/ico-babyface.png) 6px center no-repeat;background-size: 18px;}
.time_table_v30 .table-box{border: 1px solid var(--lightline);border-radius: 30px;padding:28px 20px;}
.time_table_v30 .table-box .guide{background:var(--bgGray);border-radius: 35px;padding:16px 8px;font-size: 1.12rem;text-align: center;}
.time_table_v30 .table-box .graph{width: 100%;height: 300px;margin:20px auto; }
.time_table_v30 .table-box h2{margin-bottom:18px; padding:2px 36px;text-decoration: underline;font-size: 1.12rem; font-weight: bold;background: url(http://alzam-test.babysleep.co.kr/images/ico-timetable.png) 0px center no-repeat;background-size: 26px;}
.img-info{margin:20px 0}
.img-info img{width:100%;padding:0 20px}
.s-link{padding:20px 30px 10px; color: var(--grayText);display: block;text-align: right;background: url(https://icongr.am/feather/chevron-right.svg?size=20&color=aaaaaa) right center no-repeat;}


.subscribe_wrap{margin-bottom: 200px;}
.info-table.bg_box{padding:10px}
.info-table .public{width:45%;background:#fff;border-radius: 18px;padding:25px 16px;margin-right: 6px;}
.info-table h2{font-weight: bold;font-size: 1.2rem;border-bottom: 1px solid #ccc;padding-bottom: 15px;margin-bottom: 15px;}
.info-table .member{color:#fff; background:var(--primary);border-radius: 18px;padding:25px 16px;}
.info-table .member h2{border-color: #fff;}
.info-table .member small {color:#fff;opacity: .5;}
.info-table ul li{margin-top: 16px;}
.info-table h3{font-weight: bold;}
.info-content .bg_box img{width:100%;padding:0 20px;}

.subscribe_wrap .more_info button.collapsible{padding:20px 0px;border: 0px;}
.subscribe_wrap .more_info .content ul{border-radius: 14px;padding: 25px 25px 25px 15px;background-color: var(--bgGray);}
.v30 .subscribe_wrap .more_info button:hover {box-shadow:none}

.recomm-head{margin-top: 2rem; display: flex;justify-content: space-between;align-items: end;height: 93px;background-size: 100px !important;}
.recomm_wrap.suyu .recomm-head{background: url(http://alzam-test.babysleep.co.kr/images/sugest01.png) center no-repeat;}
.recomm_wrap.eyu .recomm-head{background: url(http://alzam-test.babysleep.co.kr/images/sugest02.png) center no-repeat;}
.recomm_wrap.sumen .recomm-head{background: url(http://alzam-test.babysleep.co.kr/images/sugest03.png) center no-repeat;}

.recomm-head>h2{font-size: 1.2rem;font-weight: bold;}
.recomm-head .chips .pre-btn{vertical-align: middle;width: 20px;height: 22px;display: inline-block; background: url(https://icongr.am/material/arrow-left-drop-circle.svg?size=16&color=EB5353) center no-repeat;}
.recomm-head .chips .next-btn{vertical-align: middle;width: 20px;height: 20px;display: inline-block; background: url(https://icongr.am/material/arrow-right-drop-circle.svg?size=16&color=EB5353) center no-repeat;}
.recomm_wrap .recomm-box{border: 1px solid var(--lightline);padding: 20px;border-radius: 20px;}
.recomm_wrap .recomm-box>h2{position: relative;text-align: center;}
.recomm_wrap .recomm-box>h2:before{content: '';position: absolute;top:10px;left: 0;width: 100%; border-bottom: 1px solid #ddd;}
.recomm_wrap .recomm-box>h2 strong{font-size: 1.1rem;font-weight: bold;padding: 4px 16px; background-color: #fff;z-index: 1;position: relative;}
.recomm_wrap.suyu .unit_wrap ul li.fill{background-color: var(--primary);}
.recomm_wrap.suyu .unit_wrap ul:first-child h4{font-weight: bold;color: var(--primary);}
.recomm_wrap.eyu .unit_wrap ul li.fill{background-color: #6ac5f5;}
.recomm_wrap.eyu .unit_wrap ul:first-child h4{font-weight: bold;color: #6ac5f5;}
.recomm_wrap.sumen .unit_wrap ul li.fill{background-color: var(--purple);}
.recomm_wrap.sumen .unit_wrap ul:first-child h4{font-weight: bold;color: var(--purple);}
.unit_wrap{display: flex;justify-content: space-between;align-items: center;margin:10px 0 40px;}
.unit_wrap ul{display: block; width:45%;height:28px;text-align:center; background-color: #e5e5e5;padding: 4px 6px;border-radius: 4px;}
.unit_wrap ul li{display: inline-block; width:5.7%;height: 100%;margin-right: 0px;background-color: #fff;border-radius: 2px;}
.unit_wrap ul h4{text-align: left;}